.vector1 {
  background-image: url(Vector1.png)  ;
  background-color: rgb(141, 220, 247);
  /*background-color: rgb(238, 236, 237);*/
  background-size: 100% 100%;
  background-attachment: fixed;
}



h1 {
  position: relative;
  

  font-family: 'Bungee Inline', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height */
  align-items: center;
  text-align: center;
  

  color: #000000;

  mix-blend-mode: multiply;
}

h2{
  font-family: 'Bungee Inline', Courier, monospace;
  padding: 2rem;
  font-size: 40px;
  font-style: Bold;
  position: relative;
  align-items: center;
  text-align: center;
  color: rgb(108, 117, 243);
  
  
  
}

.titulo{
  color:rgb(248, 156, 170) !important;
}

.spanSub{
  font-family:'Bungee Inline', Courier, monospace; ;
  font-size: 64px;
  color: rgb(141, 220, 247) !important;

}
.navegacion-principal{
  display: flex;
  flex-direction: column;
  
}

@media (min-width:768px){
  .navegacion-principal{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
 
}

.navegacion-principal a{
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: Bold;
  color: #ffffff;
  text-decoration:none;
  transition: background-color 0.2s ease-out;
}

.navegacion-principal a:hover{
  border-radius: 1rem;
  background-color: lightblue;
  color: whitesmoke;
  -webkit-box-shadow: 2px 5px 19px -3px lightblue;;
  -moz-box-shadow: 2px 5px 19px -3px lightblue;;
  box-shadow: 2px 5px 19px -3px lightblue;;
  transition: background-color 0.2s ease-out;

}

.nav-bg{
  background-color: #d995ea;
  -webkit-box-shadow: 2px 5px 19px -3px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 5px 19px -3px rgba(0,0,0,0.55);
  box-shadow: 2px 5px 19px -3px rgba(0,0,0,0.55);
  /*background-color: var(--base);*/
  
}


.salaNueva{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .contenedor-campos{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows:auto auto 20rem ;
      column-gap: 2rem;
  }
  .entradas:nth-child(1){
      grid-column: 1 / 4;
  }
  .entradas:nth-child(2){
    padding-left: 4rem;
    grid-column: 1 / 4;
}
  
}

.entradas input,textarea,text{
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: slateblue;
  outline:slateblue;
}

.entradas input[type="submit"]:hover{
  margin: 0 auto;
  cursor:pointer;
  width: 80%;
  color:snow;
  background-color: rgba(161, 171, 255, 0.8);
  will-change: background-position;
  background-size: 210% 100%;
  background-position: 99% center;
  background-repeat: no-repeat;
  -webkit-transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
  transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
  background-color: rgba(161, 171, 255, 0.8);
  background-image: linear-gradient(100deg,rgba(161, 171, 255, 0.8) 50%,rgba(100, 118, 255, 0.8) 50%);

}

.entradas input[type="submit"]{
  margin: 0 auto;
  cursor:pointer;
  width: 80%;
  color:snow;
  background-color: rgba(109, 123, 248, 0.8);
  will-change: background-position;
  background-size: 100% 210%;
  background-position: 0% center;
  background-repeat: no-repeat;
  -webkit-transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
  transition: background-position .66667s cubic-bezier(.24,.22,.31,1.07);
  background-color:rgba(107, 121, 255, 0.8);
  background-image: linear-gradient(100deg,rgba(100, 118, 255, 0.8) 50%, 100%,rgba(161, 171, 255, 0.8) 50%);
  
}


.boton_basta {
  width: 140px;
  height: 140px;
  position: relative;
  padding: 6px 0px;
  border-radius: 50%;
  color: black;
  background-color: #d995ea;
  text-align: center;
  font-size: 22px;
  font-family: "Bungee Inline", cursive;
  float: right;
  
}


.p_principal{
    float: left;
    
    

    font-family:  "Bungee Inline", cursive;
  
    font-size: 26px;
    line-height: 43px;
    
    align-items: center;
    text-align: center;

    color: #000000;
}

.p-chica{
  font-family: 'Bubblegum Sans', cursive !important;
  font-size: 40px ;
}

.p_w{
    width: calc(100%/5);
}

.back{
    background-image: url(image1.svg);
}


.label {
    
    width: 250px;
    height: 43px;
    
    background: #EFECEE;
  }
  
.inline_block{
    float: right;
    
}

.back_img{
  background-image: url(image1.svg );
}


.mg_50{
    margin-top: 12rem!important;
    
    height: 35rem;
}

.mg_100{
  margin-top: 22rem!important; 
  width: calc(90%/5 - 15px); 
  margin: 0 15px;
}


.input-basta{
  
  height: 60px;
  bottom: 21.28%;
  background: #98DEEA;
  border-radius: 20px;
}

.mg_30{
  margin-top: 8rem!important;
  
  align-items: center;
}

.big-checkbox {width: 30px; height: 30px;}





input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}
.h2_ganadores {
  color: rgb(255, 255, 255);
}

.card_color1{
  
  background-color: #edffa9
}


.card_color2{
  
  background-color: #b0efeb
}


.card_color3{
  
  background-color: #fdbaf8
}

.card_color4{
  
  background-color: #aad8d3
}

.card_color5{
  
  background-color: #eeeeee 
}

.h4_ganador{
  
  font-family: 'Bungee Inline', cursive;
  font-weight: 100;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 112px;
  color: #3053f0;
  text-align: center;
}

.h6_ganador{
  font-family: 'Bubblegum Sans', cursive;
  font-size: 30px;
  color: rgb(180, 0, 235);
  text-align: center;
}

.p_basta{
  margin-right: 120px;
  font-size: 35px;
}
.basta_blanco{
  color:white;
}

.color-rosa{
  color: rgb(180, 0, 235);
  
}

.float-center{
  float: unset;
}



